[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
appdirs = "*"

[dev-packages]
pytest = "*"
black = "*"
jupyter = "*"

[requires]
python_version = "3.10"
